@font-face {
    font-family: 'digital-7';
    src: url('./fonts/digital-7.ttf');
}

@font-face {
    font-family: 'Acens';
    src: url('./fonts/Acens.ttf');
}

@font-face {
    font-family: 'Bdzyjt';
    src: url('./fonts/Bdzyjt.ttf');
}

@font-face {
    font-family: 'Mnjlx';
    src: url('./fonts/Mnjlx.ttf');
}

@font-face {
    font-family: 'Hkxzy';
    src: url('./fonts/Hkxzy1.ttf');
}

@font-face {
    font-family: 'hkxzyw7';
    src: url('./fonts/hkxzyw7.ttf');
}

.no-copy {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #606266 !important;
    /*浏览器记住密码的字的颜色*/
    transition: background-color 5000s ease-in-out 0s;
    /*通过延时渲染背景色变相去除背景颜色*/
}

input:focus {
    outline: none;
}

/*外边框线去除*/


/*侧拉框*/
#app .el-drawer__header {
    padding: 10px 24px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 14px;
    background: #f3f3f3;
    color: rgba(0, 0, 0, 0.9);
}
.custom-star #app .el-drawer__header {
    background: rgba(0, 0, 0, 0);
    color: #fff;
}

#app .el-drawer__body {
    padding: 10px 20px;
}

.el-drawer__header {
    padding: 2px 24px !important;
    margin-bottom: 10px !important;
    text-align: left;
    font-size: 14px;
    background: #f3f3f3;
    color: rgba(0, 0, 0, 0.9);
}

.el-drawer__body {
    padding: 10px 20px;
}



.attendance-list {
    padding-top: 20px;
}

.el-dialog {
    border-radius: 4px !important;
}

.el-dialog__body {
    max-height: 444px;
    min-height: 184px;
    overflow-y: auto;
}

.el-dialog__header {
    background-color: #f3f3f3;
    height: 30px;
    line-height: 30px;
    padding: 0 20px 0 !important;
    border-radius: 4px !important;
}

.el-dialog__header>.el-dialog__title {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.9);
}

.el-dialog__header>.el-dialog__headerbtn {
    top: 4px;
}

/* 列表相关样式 */
/* .list-tips {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #000000;
    padding-left: 14px;
    font-weight: 500;
    margin: 0 0 10px;
    color: #333;
    position: relative;
}
.list-tips:before {
    width: 4px;
    height: 30px;
    content: " ";
    position: absolute;
    left: 0px;
    top: 0;
    border-radius: 3px;
    background: #409EFF;
}
.search-box .el-form-item {
    margin-bottom: 10px;
}


.pagination {
    padding: 20px 0px 20px 0;
    text-align: right;
}
.pagination .el-pagination {
    font-weight: normal;
}
.pagination .el-pagination.is-background .btn-next,
.pagination .el-pagination.is-background .btn-prev,
.pagination .el-pagination.is-background .el-pager li {
    background-color: #fff;
    color: #999;
    min-width: 26px;
    box-shadow: none;
    font-size: 12px;
}
.pagination .el-pagination.is-background .btn-next:hover,
.pagination .el-pagination.is-background .btn-prev:hover,
.pagination .el-pagination.is-background .el-pager li:hover {
    color: #3aa6e4 !important;
}
.pagination .el-pagination.is-background .btn-next,
.pagination .el-pagination.is-background .btn-prev {
    padding: 0 10px;
    line-height: 18px;
}
.pagination .el-pager li,
.pagination .el-pagination button {
    height: 20px;
    line-height: 18px;
    border: 1px solid #dedfdf;
}
.pagination .el-pager li.active + li {
    border-left: 1px solid #dedfdf;
}
.pagination .el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #3aa6e4;
    color: #ffffff;
    border-color: #3aa6e4;
}
.pagination .el-pagination.is-background .el-pager li:not(.disabled).active:hover {
    color: #ffffff !important;
}
.pagination .el-input--mini .el-input__inner {
    height: 20px;
    line-height: 18px;
}
.pagination .el-pagination span:not([class*="suffix"]) {
    height: 20px;
    line-height: 18px;
    font-size: 12px;
    color: #999;
}
.pagination .el-pagination__editor,
.pagination .el-pagination__editor.el-input .el-input__inner {
    height: 20px;
    border-color: #dedfdf;
    box-shadow: none !important;
}
.pagination .el-select .el-input .el-input__inner,
.pagination .el-select .el-input .el-input__inner:hover {
    height: 20px;
    border-color: #dedfdf;
}
.pagination .el-pagination.is-background .btn-next {
    margin-right: 0;
}
.pagination .el-pagination {
    padding: 2px 0 !important;
}
.pagination .el-pagination .el-pagination__sizes {
    width: 90px !important;
    margin-right: 10px !important;
}
.el-pagination .el-select .el-input {
    width: 90px !important;
}
.el-pagination .el-select__caret,
.el-pagination .el-input__suffix {
    line-height: 20px !important;
}
.el-pagination .el-pager .more::before {
    line-height: 20px;
}
.h-line{
    width:100%;
    height:20px;
    background-color: #f1f1f1;
    position: relative;
}
.h-line::before{
    content: ' ';
    position: absolute;
    width:20px;
    height:100%;
    background-color: #f1f1f1;
    top:0;
    left:-20px;
}
.h-line::after{
    content: ' ';
    position: absolute;
    width:20px;
    height:100%;
    background-color: #f1f1f1;
    top:0;
    right:-20px;
} */