.custom-star #app .tab-button .draft-btn{
    color: rgba(255,255, 255, 0.6);
}
.custom-star #app .tab-button .tab-active {
    border-bottom: 1px solid #387dee;
    color: #387dee;
}

.custom-star #app .historyDia  .expert .el-input-group__append{
    top: -3px;
}

.custom-star #app .flTit {
    color: #fff;
}
