/* 弹层相关 */
.attendance-dialog.el-dialog {
    border: 1px solid #4faffd;
    box-shadow: 0px 0px 14px #00b4ff inset;
    background: url(../../../assets/img/dialog-bg2.png) no-repeat right top rgb(4, 33, 54);
}

// .attendance-dialog:before {
//     content: "";
//     position: absolute;
//     left: -1px;
//     top: -1px;
//     width: 90px;
//     height: 28px;
//     // background: url(../../../assets/img/dotBg.png) no-repeat;
// }

.attendance-dialog.el-dialog .el-dialog__body {
    background: url(../../../assets/img/dialog-bg.png) no-repeat left bottom;
    color: #fff;
    height: 500px;
}

.attendance-dialog.el-dialog .el-dialog__footer {
    padding: 0 20px 30px;
}

.attendance-dialog .el-dialog__header {
    background: url(../../../assets/img/dialog-bg2.png) no-repeat right top;
    height: 40px;
    padding: 20px 20px 11px 20px;
    box-sizing: border-box;
    font-size: 0;
    position: relative;
    display: flex;
    align-items: center;
}

.attendance-dialog .el-dialog__header .el-dialog__title {
    /*border-left: 4px solid #00E9FF;*/
    padding-left: 14px;
    color: #fff;
    height: 18px;
    line-height: 18px;
    display: inline-block;
    position: relative;
    font-size: 14px;
}

.attendance-dialog .el-dialog__header .el-dialog__title:before {
    width: 4px;
    height: 18px;
    content: " ";
    position: absolute;
    left: 0px;
    top: 0;
    border-radius: 3px;
    background: #00e9ff;
}

.attendance-dialog .el-dialog__headerbtn {
    top: 5px;
}

.attendance-dialog .el-dialog__headerbtn .el-dialog__close {
    font-size: 16px;
    color: #00e9ff;
}